<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- AUTH -->
        <activity android:name=".ui.auth.LoginActivity" android:exported="false"/>
        <activity android:name=".ui.auth.RegisterCustomerActivity" android:exported="false"/>

        <!-- CUSTOMER -->
        <activity android:name=".ui.customer.HomeActivity" android:exported="false"/>
        <activity android:name=".ui.customer.ProductsActivity" android:exported="false"/>
        <activity android:name=".ui.customer.ProductDetailActivity" android:exported="false"/>
        <activity android:name=".ui.customer.cart.CartActivity" android:exported="false"/>

        <!-- ADMIN -->
        <activity android:name=".ui.admin.AdminActivity" android:exported="false"/>
        <activity android:name=".ui.admin.AdminMenuActivity" android:exported="false"/>
        <activity android:name=".ui.admin.AdminFeedbackActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.admin.AdminOrderActivity"
            android:exported="false" />

    </application>
</manifest>
